.expenses-list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.expenses-list-item{
    background-color: #534358;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.icon{
    font-size: 25px;
    cursor: pointer;
    color: white;

}

.icon:hover{
    color: rgb(141, 141, 141);
}



